<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1505.vea_4b_20a_4a_495">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2236.va_b_88ceec798f"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2236.va_b_88ceec798f">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
        <removeLastBuild>false</removeLastBuild>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GIT_URL</name>
          <description>ВВедите URL репозитория GIT по протоколу HTTPS</description>
          <defaultValue>https://github.com/FoorGG/L16.git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_BRANCH</name>
          <description>Введите имя ветки</description>
          <defaultValue>*/main</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_CREDENTIALS</name>
          <description>Выберите ТУЗ для подключения к GIT репозиторию</description>
          <defaultValue>12445fd4-62fb-4b17-81d0-8fba8e27be48</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>LIBRARY_URL</name>
          <description>Введите URL для библиотеки</description>
          <defaultValue>https://github.com/FoorGG/Pipelines_For_Jenkis.git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ANSIBLE_PLAYBOOK</name>
          <description>Введите название Ansible Playbook</description>
          <defaultValue>site.yaml</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ANSIBLE_INVENTORY</name>
          <description>Введите название инвентарного файла</description>
          <defaultValue>hosts.ini</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ANSIBLE_CFG</name>
          <description>Введите название конфигурационного файла</description>
          <defaultValue>ansible.cfg</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ANSIBLE_PATH</name>
          <description>Введите навзвание директории в которой лежат Playbooks
Значение по умолчанию пустое</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1408.va_622a_b_f5b_1b_1">
          <name>ANSIBLE_CREDENTIALS</name>
          <description>Учётные данные ТУЗ</description>
          <defaultValue>c2d46da4-9547-491f-862e-1a1e0f744edc</defaultValue>
          <credentialType>com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl</credentialType>
          <required>false</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>ANSIBLE_BECOME_PASSWORD</name>
          <description>Пароль от sudo</description>
          <defaultValue>{AQAAABAAAAAgojMi/+UDY0B2prz/asppAEVhbMal9T0FB4+re874xKhBqyE4MamQhM6bTe3BSKlq}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@4032.vf3248d9c3fee">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.7.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/FoorGG/Pipelines_For_Jenkis.git</url>
          <credentialsId>12445fd4-62fb-4b17-81d0-8fba8e27be48</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/main</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>ansibleRun.groovy</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>